<%- include('header'); -%>
<body>
 <div class="container-fluid cust-addblok">
  <form action="/addBlog" method="post">
    <div class="form-group">
      <label for="exampleFormControlInput1">blogTitle</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="blogtitle" placeholder="BlogTitle">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="blogbody" rows="3"></textarea>
    </div>
    <button class="btn-secondary" type="submit " name="button">Add</button>
  </form>
 </div>

</body>
<%- include('footer'); -%>
