<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>TestOfBlog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@515&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light cust_navbar">
    <a class="navbar-brand cust-navbar-band" href="#">
      <h1 class="band_tag">Krishna</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link px-3 cust_nav_item" href="/">Home</a>
        </li>
        <li class="nav-item cust_nav_item">
          <a class="nav-link px-3" href="/Contact">Contact Me</a>
        </li>
        <li class="nav-item cust_nav_item">
          <a class="nav-link px-3" href="/About">About</a>
        </li>
      </ul>
    </div>
  </nav>
</head>
